body {
  background-image: url('./cool-background1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
}

.play {
  background-color: #3f3f40;
  color: #f4e2c4;
}

.notPlay {
  background-color: #f4e2c4;
  /* color: wheat; */
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 10vh;
  margin-bottom: 5vh;
}
.active {
  font-size: 5vh;
  margin-top: 4vh;
  transition: 1s;
}

.container {
  /* margin-top: 4vh; */
  display: grid;
  grid-template-columns: 7em 7em 7em;
  grid-gap: 0.5em;

  grid-template-rows: 6em 6em 6em;
}
.sample {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: 0.2px solid grey; */
}
.sample:hover {
  opacity: 1;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16), 0 10px 15px rgba(0, 0, 0, 0.23);
}
.icon {
  font-size: 8vh;
}
